header {
  flex: 0 1 auto;

  padding: 1rem;

  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(31, 50, 81, 0.15),
    0px 1px 3px 1px rgba(31, 50, 81, 0.3);

  color: rgb(31, 50, 81);
}

b {
  font-size: 1.5rem;
}
